<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/viskit/src/test/java/de/sofd/viskit/ui/imagelist/testapp/ImageListTestApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.sofd.viskit.ui.imagelist.testapp.ImageListTestApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="viskit"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=../lib/jogl/linux64 -Xmx1024m -Xms256m"/>
</launchConfiguration>
